html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.App {
  font-family: 'Outfit', sans-serif;
  background-color: #ffffff;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-bar {
  background-color: #dfdcd9;
  color: #0d121c;
  padding: 20px 20px;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

main {
  margin-top: 80px;
  flex-grow: 1;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 25px 0;
  position: relative;
  background-color: #dfdcd9;
  margin-top: 100px;
}

.nav {
  display: flex;
  justify-content: center;
  width: 100%;
}

.nav-middle {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-item {
  margin: 0 15px;
  padding: 0 15px;
  cursor: pointer;
  font-size: 18px;
  text-transform: uppercase;
  border-radius: 10px;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  min-width: 150px;
  min-height: 50px;
  text-align: center;
}

.nav-item:hover {
  background-color: #f2f0ec;
  color: #0d121c;
}

.nav-middle-down {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-item-round {
  margin: 0 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
  align-items: center;
  background-color: #dddad7;
  transition: background-color 0.3s;
  cursor: pointer;
}

.nav-item-round img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.nav-item a {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-align: center;
}